@model GreetSomeone.Controllers.HomeController
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <div>
            <label for="name">What's your name?</label>
            <input type="text" id="name" name="user_name">
        </div>
    </form>
</body>
</html>