@model Reddit.Models.Post

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="add" method="post">
        <label for="Content">Content:</label>
        <input type="text" id="Content" name="Content"/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>