@model List<Reddit.Models.Post>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @{ 
        Layout = "_Layout";
      }
</head>
<body>
    <form action="http://localhost:57374/add">
        <input type="hidden" value="submit" />
        <button id="task" type="submit">Add new Post</button>
    </form>
    <h1>POSTS:</h1>
      <table class="table-bordered">
          <tr>
            <th>ID</th>
            <th>SCORE</th>
            <th>ACTIONS</th>
            <th>CONTENT</th>
            <th>DATE</th>
          </tr>

        @foreach (var post in Model)
    {
            <tr>
                <td>@post.Id</td>
                <td>@post.Score</td>
                <td>
                    <a href="http://localhost:57374/plus/@post.Id">+</a>
                    <a href="http://localhost:57374/minus/@post.Id">-</a>
                </td>
                <td>@post.Content</td>
                <td>@post.Date</td>
            </tr>
        }      
    </table>
</body>
</html>