<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Login</h1>
    <form action="/user" method="post">
        <label for="userName">User name: </label>
        <input type="text" id="userName" name="Name" />
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>