p {
  font-size:36px;
  color:white; 
   height:130px;
   width:345px;
   text-align: center;
   margin:0px;
   border:10px solid #4285f4
 }

#salmon {
  background-color:#e67676;

}

#yellow {
  background-color:#f2f062;

}

#light {
  background-color:#a9e6e6;

}

#blue {
  background-color:#7692e4;

}


