@model RorasCargoExercise.Models.Rocket

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
 @{ 
     Layout = "_Layout";
 }
</head>
<body>
    <form class="form-group" action="http://localhost:50802/rocket/load" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose from calibers</label>
            <select class="form-control" id="caliber">
                <option>0</option>
                <option>25</option>
                <option>30</option>
                <option>50</option>
            </select>
            <button class=" btn-success" type="submit">Load</button>
        </div>
    </form>
</body>
</html>