<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Login</h1>

    <form action="home" method="post">
        <label for="LoginName">Login name:</label>
        <input type="text" id="loginname" name="Name"><br />
        <button type="submit" value="Login">Login</button>
    </form>
</body>
</html>