@model Counter.Models.CounterClass

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Counter</title>
</head>
<body>    
    <h1>Counter</h1>
    <p>@Model.clicks</p>
    <form action="/" method="post">
        <button type="submit">Click</button>
    </form>
</body>
</html>