@model BankOfSimba.Models.Bank

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @{ int index = 0;}
        @foreach (var account in Model.bankAccounts)
        {
            <tr>
                <td>@(index++)</td>
                <td>@account.Name</td>
                <td>@account.AnimalType.ToString()</td>
                <td>@account.Balance.ToString()</td>
            </tr>
        }
    </table>
</body>
</html>